.container {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
.right {
	background-color: black;
	width: 33%;
	height: 400px;
	float: left;
	color: white;
}

img {
	position: bottom;
	width: 33%;
	height: 200px;
	float: left;
	/*margin-top: 381px;*/
}

.left {
	background-color: blue;
	width: 33%;
	height: 600px;
	color: white;
	float: left;
}

.center {
	background-color: red;
	width: 33%;
	height: 600px;
	color: white;
	float: left;
}